.xm__search {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 4px 15px;
    
    & .xm__icon--search {
        color: #666;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        font-size: $font-size-base;
    }
}

.xm__search--action,.xm__search--cancel {
    line-height: $line-height-computed;
    font-size: $font-size-small;
    letter-spacing: 1px;

    & div{
        padding: 0 0 0 10px;
    }
}

.xm__search--input--wrap{
    position: relative;
    flex: 1;
    height: 34px;
    box-sizing: border-box;
    padding: 4px 24px 4px 35px;
    border: 1px solid #e5e5e5;
    @include border-radius;
    background-color: #fff;
}

.xm__search--input {
    display: block;
    width: 100%;
    height: 24px;
    line-height: 24px;
    padding: 0;
    font-size: $font-size-base;
    color: #666;
    border: none;
}

.xm__icon--clear {
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
    color: #999;
}