// Prefix
$css-prefix : xm-;

// 颜色
$primary-color          : #2d8cf0;
$info-color             : #2db7f5;
$success-color          : #19be6b;
$warning-color          : #ff9900;
$error-color            : #ed3f14;
$plain-color            : #fff;
$transparent-color      : transparent;

$link-color             : #2D8cF0;
$link-hover-color       : tint($link-color, 20%);
$link-active-color      : shade($link-color, 5%);

$selected-color         : fade($primary-color, 90%);
$tooltip-color          : #fff;
$subsidiary-color       : #80848f;
$rate-star-color        : #f5a623;

// 基础
$body-background        : #fff;
$title-color            : #1c2438;
$text-color             : #495060;
$font-size-big          : 1.8rem;
$font-size-base         : 1.6rem;
$font-size-small        : 1.4rem;
$line-height-small      : 1.2;
$line-height-base       : 1.5;
$line-height-computed   : floor(($font-size-base * $line-height-base));
$border-radius-base     : 6px;
$border-radius-small    : 4px;

$cursor-disabled        : not-allowed;

// 边框
$border-color-base      : #dddee1;  // outside
$border-color-split     : #e9eaec;  // inside
$border-width-default   : 1px;
$border-style-default   : solid;

// 背景颜色
$background-color-base        : #f7f7f7;  // base

$tooltip-bg                   : rgba(70, 76, 91, .9);
$head-bg                      : #f9fafc;
$table-thead-bg               : #f8f8f9;
$table-td-stripe-bg           : #f8f8f9;
$table-td-hover-bg            : #ebf7ff;
$table-td-highlight-bg        : #ebf7ff;
$menu-dark-title              : #495060;
$menu-dark-active-bg          : #363e4f;
$menu-dark-subsidiary-color   : rgba(255,255,255,.7);
$menu-dark-group-title-color  : rgba(255,255,255,.36);
$date-picker-cell-hover-bg    : #e1f0fe;
$skeleton-bg                  : #D8D8D8;
// 动画
$ease-out            : cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-in             : cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-in-out         : cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-out-back       : cubic-bezier(0.12, 0.4, 0.29, 1.46);
$ease-in-back        : cubic-bezier(0.71, -0.46, 0.88, 0.6);
$ease-in-out-back    : cubic-bezier(0.71, -0.46, 0.29, 1.46);
$ease-out-circ       : cubic-bezier(0.08, 0.82, 0.17, 1);
$ease-in-circ        : cubic-bezier(0.6, 0.04, 0.98, 0.34);
$ease-in-out-circ    : cubic-bezier(0.78, 0.14, 0.15, 0.86);
$ease-out-quint      : cubic-bezier(0.23, 1, 0.32, 1);
$ease-in-quint       : cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-in-out-quint   : cubic-bezier(0.86, 0, 0.07, 1);

// 按钮组
$btn-font-weight        : normal;
$btn-padding-base       : 6px 15px;
$btn-padding-large      : 6px 15px 7px 15px;
$btn-padding-small      : 2px 7px;
$btn-font-size          : 12px;
$btn-font-size-large    : 14px;
$btn-border-radius      : 4px;
$btn-border-radius-small: 3px;
$btn-group-border       : shade($primary-color, 5%);

$btn-disable-color      : #bbbec4;
$btn-disable-bg         : $background-color-base;
$btn-disable-border     : $border-color-base;

$btn-default-color      : $text-color;
$btn-default-bg         : $background-color-base;
$btn-default-border     : $border-color-base;

$btn-primary-color      : #fff;
$btn-primary-bg         : $primary-color;
$btn-primary-border     : $border-color-base;

$btn-success-color      : #fff;
$btn-success-bg         : $success-color;
$btn-success-border     : $border-color-base;

$btn-warning-color      : #fff;
$btn-warning-bg         : $warning-color;
$btn-warning-border     : $border-color-base;

$btn-error-color        : #fff;
$btn-error-bg           : $error-color;
$btn-error-border       : $border-color-base;

$btn-plain-color        : $text-color;
$btn-plain-bg           : $plain-color;
$btn-plain-border       : $border-color-base;

$btn-text-color         : $text-color;
$btn-text-bg            : $transparent-color;
$btn-text-border        : $border-color-base;

$btn-circle-size        : 28px;
$btn-circle-size-lg     : 32px;
$btn-circle-size-sm     : 22px;


/*// Media queries breakpoints
// Extra small screen / phone*/
$screen-xs              : 480px;
$screen-xs-min          : $screen-xs;
$screen-xs-max          : ($screen-xs-min - 1);

/*// Small screen / tablet*/
$screen-sm              : 768px;
$screen-sm-min          : $screen-sm;
$screen-sm-max          : ($screen-sm-min - 1);

/*// Medium screen / desktop*/
$screen-md              : 992px;
$screen-md-min          : $screen-md;
$screen-md-max          : ($screen-md-min - 1);

/*// Large screen / wide desktop*/
$screen-lg              : 1200px;
$screen-lg-min          : $screen-lg;
$screen-lg-max          : ($screen-lg-min - 1);

/*// Layout and Grid system*/
$grid-columns           : 24;
$grid-gutter-width      : 0;

/*// Container sizes*/
$container-sm           : (720px + $grid-gutter-width);
$container-md           : (940px + $grid-gutter-width);
$container-lg           : (1140px + $grid-gutter-width);

/*// z-index list*/
$zindex-affix           : 10;
$zindex-modal-mask      : 990;
$zindex-popover         : 1000;
$zindex-notification    : 1010;
$zindex-message         : 1010;
$zindex-modal           : 1030;
$zindex-picker          : 1050;
$zindex-dropdown        : 1050;
$zindex-tooltip         : 1060;
$zindex-loading         : 1070;
/*// 表单
// --------------------------------
// Legend*/
$legend-color           : #999;
$legend-border-color    : $border-color-base;
/*// Label*/
$label-required-color   : #f50;
$label-color            : $text-color;
/*// Input*/
$input-height-base      : 28px;
$input-height-lg        : 32px;
$input-height-sm        : 22px;

$input-padding-horizontal    : 7px;
$input-padding-vertical-base : 4px;
$input-padding-vertical-sm   : 1px;
$input-padding-vertical-lg   : 6px;

$input-placeholder-color     : #333;
$input-color                 : $text-color;
$input-border-color          : $border-color-base;
$input-bg                    : #fff;

$input-hover-border-color    : $primary-color;
$input-focus-border-color    : $primary-color;
$input-disabled-bg           : #f7f7f7;

$form-item-margin-bottom     : 24px;

