.xm__search {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 4px 15px;
    
    & .xm__icon--search {
        color: #666;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        font-size: 16px;
    }
}

.xm__search--action {
    line-height: $line-height-computed;
    font-size: $font-size-base;
    letter-spacing: 1px;
}

.xm__search--action div {
    padding: 0 10px;
}

.xm__search--input--wrap{
    position: relative;
    flex: 1;
    height: 34px;
    box-sizing: border-box;
    padding: 8px 24px 8px 35px;
    border: 1px solid #e5e5e5;
    @include border-radius;
    background-color: #fff;
}

.xm__search--input {
    display: block;
    width: 100%;
    height: 16px;
    line-height: 16px;
    padding: 0;
    font-size: 14px;
    color: #666;
    border: none;
}

.xm__icon--clear {
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
    color: #999;
}