.xm__input--wrap {
    display: flex;
    width: 100%;
    position: relative;
    vertical-align: middle;
    line-height: normal;
    flex: 1;
}

.xm__input {
    flex: 1;
    @include size(100%,32px);
    line-height: $line-height-base;
    padding: 4px 7px;
    font-size: $font-size-small;
    border: 1px solid #dddee1;
    @include border-radius;
    color: $text-color;
    background-color: $body-background;
    background-image: none;
    position: relative;
    cursor: text;
    transition: border .2s ease-in-out,background .2s ease-in-out,box-shadow .2s ease-in-out;
}