
html{
    font-size: 62.5%;
    -webkit-tap-highlight-color: transparent;
}
input, button{
    outline: none;
}

a{
    text-decoration: none;
}

.xm--overflow--hidden{
    overflow: hidden!important;
}