@font-face {
    font-family: 'iconfont';  /* project id 271058 */
    src: url('//at.alicdn.com/t/font_271058_ubui0u1bi71fw29.eot');
    src: url('//at.alicdn.com/t/font_271058_ubui0u1bi71fw29.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_271058_ubui0u1bi71fw29.woff') format('woff'),
    url('//at.alicdn.com/t/font_271058_ubui0u1bi71fw29.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_271058_ubui0u1bi71fw29.svg#iconfont') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
[class^="xm__icon--"], [class*=" xm__icon--"]  {
    font-family:"iconfont" !important;
    font-size:14px;
    font-style:normal;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
.xm__icon--checked:before { content: "\e635"; }

.xm__icon--search:before { content: "\e613"; }

.xm__icon--close:before { content: "\e634"; }

.xm__icon--loading{ animation: spin 1250ms linear infinite;}
.xm__icon--loading:before { content: "\e69d";}


